<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
  body
    p　素数
    form(action="/primenumber" method="post")
      input(type="text" name="num")
      input(type="submit" value="送信")
    p　掛け算
    form(action="/multiplication" method="post")
      input(type="text" name="num1")
      input(type="text" name="num2")
      input(type="submit" value="送信")

